<?xml version="1.0" encoding="UTF-8" ?>
<!--①声明context的命名空间-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--<context:annotation-config />-->
    <!--②扫描类包以应用注解定义的Bean-->
   <!-- <context:component-scan base-package="cn.bdqn.gaobingfa" resource-pattern="entity/*.class"/>-->
  <!--  < context:component-scan base-package="com.baobaotao" resource-pattern="anno/*.class"/ >-->
   <!-- < context:component-scan base-package="com.baobaotao" resource-pattern="**/*.class"/ >默认情况-->
    <!--<bean class="com.baobaotao.anno.LogonService"></bean>-->
    <!-- context:component-scan base-package="com.baobaotao" resource-pattern="anno/*.class"/ -->
    <!-- context:component-scan base-package="com.baobaotao">
        <context:include-filter type="regex" expression="com\.baobaotao\.anno.*Dao"/>
        <context:include-filter type="regex" expression="com\.baobaotao\.anno.*Service"/>
        <context:exclude-filter type="aspectj" expression="com.baobaotao..*Controller+"/>
    </context:component-scan -->

   <!-- <bean id="templateResolver"
          class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="templateMode" value="HTML5" />
        <property name="cacheable" value="false" />
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <bean id="templateEngine"
          class="org.thymeleaf.spring5.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
    </bean>
    &lt;!&ndash;  配置多个视图解析&ndash;&gt;
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">

        <property name="viewResolvers">
            <list>
                &lt;!&ndash;used thymeleaf  &ndash;&gt;
                <bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
                    <property name="characterEncoding" value="UTF-8"/>
                    <property name="templateEngine" ref="templateEngine" />
                    <property name="viewNames" value="*.html" />
                    <property name="order" value="1" />
                </bean>
                &lt;!&ndash; used jsp &ndash;&gt;
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/WEB-INF/views/"/>
                    <property name="viewNames" value="*.jsp"/>
                    <property name="order" value="2" />
                </bean>

            </list>
        </property>
    </bean>-->

   <!-- <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
       &lt;!&ndash; <property name="defaultEncoding" value="iso-8859-1" />&ndash;&gt;
        <property name="defaultEncoding" value="UTF-8" />
        <property name="useCodeAsDefaultMessage" value="true" />
        <property name="cacheSeconds" value="10"></property>
        <property name="basenames">
            <list>
                <value>classpath:messages</value>
            </list>
        </property>
    </bean>-->

    <bean id="user" class="cn.bdqn.gaobingfa.entity.User">
        <property name="name" value="是的方飞规划局和法">
        </property>
    </bean>
</beans>
