server:
  port: 8082
spring:
  thymeleaf:
    cache: false
  jpa:
    hibernate:
      ddl-auto: update
    database: mysql
    show-sql: true
 # redis:
    #host: 39.105.169.182
    #port: 6379
    #password:
  redis:
      database: 0
      host: 39.105.169.182
      port: 6379
      password:
      # 连接超时时间（毫秒）
      timeout: 10000
      jedis:
        pool:
          max-wait: -1
          min-idle: 1
          max-active: 100
          max-idle: 20

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://39.105.169.182:3306/test?useUnicode=true&characterEncoding=utf8
    username: root
    password: root
  rabbitmq:
    host: 39.105.169.182
    username: guest
    password: guest
    port: 5672

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: mybatis/**/*Mapper.xml
  typeAliasesPackage: cn.bdqn.gaobingfa.**.entity
pagehelper:
  helper-dialect: mysql
  reasonable: true
  params: true
  page-size-zero: count=countSql
logging:
  level:
    root: info
    cn.bdqn: debug
#[弃用]配置缓存和session存储方式，默认ehcache,可选redis,[弃用]调整至 spring cache type【shiro.用户，权限，session，spring.cache通用】
#[弃用]cacheType: ehcache